Source: nymea-apikeysprovider-plugin-community
Section: libs
Priority: optional
Maintainer: nymea GmbH <contact@nymea.io>
Standards-Version: 4.6.0
Homepage: https://nymea.io
Vcs-Git: https://github.com/nymea/nymea-apikeysprovider-plugin-community.git
Build-Depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               qt5-qmake,
               qtbase5-dev,
               libnymea-dev (>= 0.24),


Package: nymea-apikeysprovider-plugin-community
Architecture: any
Section: metapackages
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea1 (>= 0.24),
Provides: nymea-apikeysprovider-plugin-impl
Description: API keys provider plugin for nymea
 A plugin for nymea which provides API keys for various online services

